<div class="container text-justify">
  <img class="d-block w-100" src="/assets/images/home-remedies1.jpg" /><br />

  <h3 class="text-style">
    If you have coronavirus disease 2019 (COVID-19) and you're caring for
    yourself at home or you're caring for a loved one with COVID-19 at home, you
    might have questions.

    <li>How do you know when emergency care is needed?</li>
    <li>How long is isolation necessary?</li>
    <li>What can you do to prevent the spread of germs?</li>
    <li>How can you support a sick loved one and manage your stress?</li>
  </h3>

  <h3 class="text-style">
    <b>Here's what you need to know.</b> <br />
    At-home treatment Most people who become sick with COVID-19 will only
    experience mild illness and can recover at home. Symptoms might last a few
    days, and people who have the virus might feel better in about a week.
    Treatment is aimed at relieving symptoms and includes rest, fluid intake and
    pain relievers.
  </h3>

  <h3 class="text-style">
    Follow the doctor's recommendations about care and home isolation for
    yourself or your loved one. Talk to the doctor if you have any questions
    about treatments. Help the sick person get groceries and any medications
    and, if needed, take care of his or her pet.
  </h3>

  <h3 class="text-style">
    It's also important to consider how caring for a sick person might affect
    your health. If you are older or have an existing chronic medical condition,
    such as heart or lung disease or diabetes, you may be at higher risk of
    serious illness with COVID-19. You might consider isolating yourself from
    the sick person and finding another person to provide care.

    <li>Wash your hands frequently with soap.</li>
    <li>Daily 3-5 times a day do gargle with concentrated water of salt.</li>
    <li>
      Garlic paste, one spoon lemon, black pepper, turmaric powder - mix all
      these in two glass of water and boil it and make it one glass and drink it
      daily once.
    </li>
    <li>Inhale Water steam twice a day.</li>
  </h3>
</div>

<br />
