<!-- Header starts -->
<mat-toolbar class="bg-lightseagreen text-white fixed">
    <button class="btn text-white" [routerLink]="'/dashboard'">THE INDIAN COVID-19 ATLAS
    </button>
    <span class="example-spacer"></span>

    <button class="btn text-white" [routerLink]="'/aboutus'">
        <mat-icon>supervised_user_circle</mat-icon> About us
    </button>

</mat-toolbar>
<br class="mb-5">
<!-- Header ends -->


<div class="container text-justify">
    <img class="d-block w-100" src="/assets/images/about-us.jpg" alt="First slide"><br>

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <h3 class="text-style">The <b>"The Indian COVID 19 ATLAS"</b> application is a web based application Software.The primary goal of this application
                is to educate people about this virus, its symptoms, prevention steps, total number of cases, active cases,
                recovered cases, important news related to this etc. This app will be able to produce the complete Indian map along
                with its states providing all the possible details of the cases affected or recovered from the virus.</h3>
            
                <h3 class="text-style">It also gives additional features such as providing covid related general information, its symptoms, its prevention
                steps, what are the red zones marked in the states, how much population is effected etc. It will provide the covid
                data using different graphs and charts, also provide user to take self test and notified himself and concern teams
                regarding his covid status. All these are planned to be provided in an application from a single dashboard to users.
                This will be more helpful to common public as well as the doctors or the different staff members or the teams who
                are working day and night to stop this.</h3>
        </div>
        <div class="col-md-2">
            
        </div>
    </div>
    
</div>