.example-spacer {
    flex: 1 1 auto;
  }
.carousel-inner img {
    /* width: 80%; */
    /* height: 30%; */
    max-height: 40vh; 
    object-fit: cover;
  }
  .example-card {
    max-width: 250px;
  }
  
  .example-header-image {
    background-image: url('/assets/images/covid19.jpg');
    background-size: cover;
  }
  .fixed{
    z-index: 1040;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* height: 10%; */
  }
  mat-card-content{
      max-height: 40px;
      overflow: hidden;
  }