.carousel-inner img {
    max-height: 40vh; 
    object-fit: cover;
  }
  
  .header-image {
    background-image: url('/assets/images/covid19.jpg');
    background-size: cover;
  }
  .fixed{
    z-index: 1040;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  mat-card-content{
      max-height: 40px;
      overflow: hidden;
  }

