<!-- Header starts -->
<mat-toolbar class="bg-lightseagreen text-white fixed">
  <button class="btn text-white" [routerLink]="'/dashboard'">
    THE INDIAN COVID-19 ATLAS
  </button>
  <span class="example-spacer"></span>

  <button class="btn text-white" [routerLink]="'/aboutus'">
    <mat-icon>supervised_user_circle</mat-icon> About us
  </button>
</mat-toolbar>
<br class="mb-5" />
<!-- Header ends -->

<div class="container text-justify">
  <img class="d-block w-100" src="/assets/images/covid-self-test.jpg" /><br />

  <h3 class="text-style">
    if you are able to stop your breath for atlest 20 - 30 sec easily without
    coughing - then you are not infected.
  </h3>

  <h3 class="text-style">
    if with in 5 sec you are coughing - then you need to consult doctor.
  </h3>

  <h3 class="text-style">
    If a person after testing with oxymeter has the saturation level less than
    90% then he need to consult the doctor soon.
  </h3>

  <div class="d-flex m-0">
    <span *ngFor="let disease of diseases">
    <mat-checkbox type="checkbox" [checked]="disease.checked" (change)="disease.checked = !disease.checked" >
        {{ disease.name }} &nbsp;
      </mat-checkbox>
    </span>
  </div>

  <button mat-raised-button color="primary" (click)="checkDisease()">Check</button>

  <h2 *ngIf="diseaseName">Result: {{diseaseName}}</h2>

</div>
<br />
