<!-- Header starts -->
<mat-toolbar class="bg-lightseagreen text-white fixed">
    <button class="btn text-white" [routerLink]="'/dashboard'">THE INDIAN COVID-19 ATLAS
    </button>
    <span class="example-spacer"></span>

    <button class="btn text-white" [routerLink]="'/aboutus'">
        <mat-icon>supervised_user_circle</mat-icon> About us
    </button>

</mat-toolbar>
<br class="mb-5">
<!-- Header ends -->

<div class="container text-justify">

    <img class="d-block w-100" src="/assets/images/covid-self-test.jpg"><br>

    <h3 class="text-style">
        if you are able to stop your breath for atlest 20 - 30 sec easily without coughing - then you are not infected.
    </h3>

    <h3 class="text-style">
        if with in 5 sec you are coughing - then you need to consult doctor.
    </h3>

    <h3 class="text-style">
        if oxygen level is below 90 - test it with oxymeter - effected.
    </h3>

    (1) dry cough + sneeze = air pollution<br>

    (2) cough + mucus + sneeze + runny nose = common cold<br>

    (3) Cough + mucus + sneeze + runny nose + body ache + weakness + light fever = flu<br>

    (4) Dry cough + sneeze + body pain + weakness + high fever + difficulty breathing = coronavirus<br>