<!-- Header starts -->
<mat-toolbar class="bg-lightseagreen text-white fixed">
    <button class="btn text-white" [routerLink]="'/dashboard'">THE INDIAN COVID-19 ATLAS
    </button>
    <span class="example-spacer"></span>

    <button class="btn text-white" [routerLink]="'/aboutus'">
        <mat-icon>supervised_user_circle</mat-icon> About us
    </button>

</mat-toolbar>
<br class="mb-5">
<!-- Header ends -->

<div class="container text-justify">

    <img class="d-block w-100" src="/assets/images/covid-self-test.jpg"><br>

    <h3 class="text-style">
        if you are able to stop your breath for atlest 20 - 30 sec easily without coughing - then you are not infected.
    </h3>

    <h3 class="text-style">
        if with in 5 sec you are coughing - then you need to consult doctor.
    </h3>

    <h3 class="text-style">
        If a person after testing with oxymeter has the saturation level less than 90%  then he need to consult the doctor soon.
    </h3>
    <!-- 
    (1) Dry cough + Sneeze = Air pollution<br>

    (2) Cough + Mucus + Sneeze + Runny nose = Common cold<br>

    (3) Cough + Mucus + Sneeze + Runny nose + Body ache + Weakness + Light fever = Flu<br>

    (4) Dry cough + Sneeze + Body pain + Weakness + High fever + Fifficulty breathing = Coronavirus<br> -->
    <div class="d-flex m-0">
        <span *ngFor="let p of pollution">
            <mat-checkbox [checked]="p.checked" (change)="p.checked = !p.checked; onChange(p);"> {{ p.name }} &nbsp;
            </mat-checkbox>
        </span>
        <span *ngIf='result1'>{{result1}}</span>
    </div>
    <div class="d-flex">
        <span *ngFor="let c of cold">
            <mat-checkbox [checked]="c.checked" (change)="c.checked = !c.checked; onChange(c);"> {{ c.name }} &nbsp;
            </mat-checkbox>
        </span>
        <span *ngIf='result2'>{{result2}}</span>
    </div>
    <div class="d-flex">
        <span *ngFor="let f of flu">
            <mat-checkbox type="checkbox" [checked]="f.checked" (change)="f.checked = !f.checked; onChange(f);">
                {{ f.name }}
                &nbsp;
            </mat-checkbox>
        </span>
        <span *ngIf='result3'>{{result3}}</span>
    </div>
    <div class="d-flex">
        <span *ngFor="let cr of corona">
            <mat-checkbox type="checkbox" [checked]="cr.checked" (change)="cr.checked = !cr.checked; onChange(cr);">
                {{ cr.name }} &nbsp;
            </mat-checkbox>
        </span>
        <span *ngIf='result4'>{{result4}}</span>
    </div>

    <button mat-raised-button color="primary" (click)="check()">Check</button>


</div>
<br>