<!-- Header starts -->
<mat-toolbar class="bg-lightseagreen text-white fixed">
    <button class="btn text-white" [routerLink]="'/dashboard'">THE INDIAN COVID-19 ATLAS
    </button>
    <span class="example-spacer"></span>

    <button class="btn text-white" [routerLink]="'/aboutus'">
        <mat-icon>supervised_user_circle</mat-icon> About us
    </button>

</mat-toolbar>
<!-- Header ends -->
    <iframe class="w-100 h-100" src="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/question-and-answers-hub/q-a-detail/q-a-coronaviruses" title="Q&A" allowfullscreen>
    </iframe>

    