<!-- Header starts -->
<mat-toolbar class="bg-info text-white fixed">
    <button class="btn text-white" [routerLink]="'/dashboard'">THE INDIAN COVID-19 ATLAS
    </button>
    <span class="example-spacer"></span>

    <button class="btn text-white" [routerLink]="'/aboutus'">
        <mat-icon>supervised_user_circle</mat-icon> About us
    </button>

</mat-toolbar>
<br class="mb-5">
<!-- Header ends -->
<iframe class="w-100 h-100" src="https://www.covid19india.org/" title="India Tracker" allowfullscreen>
</iframe>