<!-- Header starts -->
<mat-toolbar class="bg-lightseagreen text-white fixed">
    <button class="btn text-white" [routerLink]="'/dashboard'">THE INDIAN COVID-19 ATLAS
    </button>
    <span class="example-spacer"></span>

    <button class="btn text-white" [routerLink]="'/aboutus'">
        <mat-icon>supervised_user_circle</mat-icon> About us
    </button>
    
    <button class="btn text-white" [routerLink]="'/contactus'">
       Contact us
    </button>

</mat-toolbar>
<br class="mb-5">
<!-- Header ends -->


<div class="container text-justify">
    <img class="d-block w-100" src="/assets/images/slider3.jpg" alt="First slide"><br>

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <h3 class="text-style">
            
            	<P><b>The for more details you can write to us and contact on any of the below :-</b></P>
				<br>
				<P><b>phone - 999999999999</b></P>
				<br>
				<P><b>mail - asdf@asdfasdf.com</b></P>
				<br>
				<P><b>facebook - facebook.com/@covidXXXXXPage</b></P>
				<br>
				<P><b>linkedin - www.linkedin.com/in/xxxxxxx</b></P>
				
			</h3>
        </div>
        <div class="col-md-2">
            
        </div>
    </div>
    
</div>