<!-- Header starts -->
<mat-toolbar class="text-white fixed bg-lightseagreen">
    <button class="btn text-white" [routerLink]="'/dashboard'">THE INDIAN COVID-19 ATLAS
    </button>
    <span class="example-spacer"></span>

    <button class="btn text-white" [routerLink]="'/aboutus'">
        <mat-icon>supervised_user_circle</mat-icon> About us
    </button>

</mat-toolbar>
<br class="mb-5">
<!-- Header ends -->
<div class="container text-justify">

    <img class="d-block w-100" src="/assets/images/symptomns1.jpg"><br>

    <h3 class="text-style">When anyone is affected by this virus, it doesn't make you sudden sick. But if your immune
        system is healthy, then our
        efforts is to get rid of this. If your immunity is high, then there are fewer chances to get affected by the
        virus.
        For example, our immune system raises our body temperature to make it hotter to kill these viruses.</h3>

    <h3 class="text-style">Everyone's body is different, so the symptoms are caused by our immune system, not by the
        virus itself. Different people
        have different symptoms when they are affected by the same infection or illness.</h3>

    <h3 class="text-style">Novel coronavirus (Covid-19) is an illness of respiratory, and it affects the parts of our
        body that helps us to
        breathe: mainly our throat, nose, and lungs. In more severe cases, the infection cause pneumonia, severe acute
        respiratory syndrome (SARS), kidney failure, and death. If you are affected with novel coronavirus, the symptoms
        may
        include:</h3>

    <h3>
        <li>Coughing/sneezing</li>
        <li>High Fever</li>
        <li>Sore throat</li>
        <li>Fatigue</li>
        <li>Shortness of breath/ difficulty in breathing</li>
        <li>Muscle pain/ tiredness</li>
        <br>

        <i>In severe cases :-</i>
        <li>Pneumonia</li>
        <li>Severe acute respiratory syndrome</li>
        <li>Kidney failure</li>
    </h3>

    <h3><i>How does the novel coronavirus (COVID-19) spread, and how can we observe it?</i></h3>

    <h3 class="text-style">Novel coronavirus (COVID-19) is spreading between people to people when a sick person coughs
        or sneezes in front of
        others.
        The coronavirus can impact us if any affected person sneezes or coughs on other people or things. The virus can
        also
        harm us if the infected person have coughed or sneezed on a surface (like a door handle, balcony grill), and we
        touch
        the particular surface or the person's hand. The droplets of the infected person infects our hands and the
        viruses is
        transferred through our nose, eyes, or mouth into our body.</h3>
</div>

<br>