<!-- Header starts -->
<mat-toolbar class="text-white fixed bg-lightseagreen">
    <button class="btn text-white" [routerLink]="'/dashboard'">THE INDIAN COVID-19 ATLAS
    </button>
    <span class="example-spacer"></span>

    <button class="btn text-white" [routerLink]="'/aboutus'">
        <mat-icon>supervised_user_circle</mat-icon> About us
    </button>
    
    <button class="btn text-white" [routerLink]="'/contactus'">
       Contact us
    </button>

</mat-toolbar>
<br class="mb-5">
<!-- Header ends -->
<div class="container text-justify">

    <img class="d-block w-100" src="/assets/images/precautions.jpg"><br>

    <h3 class="text-style">First of all the best way to protect ourself is to know how it spreads. Then follow the rule
        <b>"Prevention is better than cure"</b>.
    </h3>

    <h3 class="text-style">So first don't get exposed to the virus itself.
        It may be spreading through many ways like</h3>
    <h3> <i>Do's</i>
        <li>person to person - close contact</li>
        <li>through water droplets of infected person while talking or snnezing</li>
        <li>even though from non symptoms person also it may come</li>
        <br>

        <i>So the best way is to do some basic precautions like.</i>
        <li>Wash hands frequently for atleast 20 sec with soap.</li>
        <li>Use sanitizers for cleaning purpose if can not wash hands outside.</li>
        <li>Must maintain 6 feet distant from sick persons.</li>
        <li>Use face mask while others are around you.</li>
        <li>If you are getting cough and sneezes, always cover your mouth with tissue and through it away, if suddenly
            you get a cough or sneze then you can stop it from your arms, not the hands.</li>
        <li>Keep your surroundings neat and clean and disinfect the frequently touched surfaces.</li>
        <li>Do a helth checkup if you find any symptomns in early stages itself and prevent from huge lose.</li>
        <br>

        <i>Dont's</i>
        <li>Do not touch your face, eyes, mouth with unwashed hands.</li>
        <li>DO not touch the outer surface of mask.</li>
        <li>DO not use common bathrooms or tabs.</li>
        <li>DO not go in crouded places like gym, park, clubhouses, etc.</li>
        <li>DO not take support of wall and handrails while climbing steps.</li>
        <li>DO not over-buy grocery or medicines. Others may be in need of it.</li>
    </h3>

</div>

<br>