/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/prebuilt-themes/purple-green.css'; */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-icon {
    vertical-align: middle;
 }
 a {
    text-decoration: none;
 }
 a mat-icon {
    text-decoration: none;
 }
 .example-spacer {
   flex: 1 1 auto;
 }
 .mat-card-header-text {
   margin: 0px 5px !important;
}
.mat-card-avatar{
   height: 32px !important;
   margin-bottom: 5px;;
}
.bg-lightseagreen{
   background-color: lightseagreen;
}