<div class="container text-justify">
  <img class="d-block w-100" src="/assets/images/videos1.jpg" /><br />

  <div class="row">
    <div class="col-md-4">
      <iframe
        height="250"
        src="https://www.youtube.com/embed/DCdxsnRF1Fk?rel=0"
      >
      </iframe>
    </div>

    <div class="col-md-4">
      <iframe
        height="250"
        src="https://www.youtube.com/embed/2SfxrezxVcM?rel=0"
      >
      </iframe>
    </div>

    <div class="col-md-4">
      <iframe
        height="250"
        src="https://www.youtube.com/embed/wazA4Ch6OXQ?rel=0"
      >
      </iframe>
    </div>

    <div class="col-md-4">
      <iframe
        height="250"
        src="https://www.youtube.com/embed/DDjcJ-fSUgg?rel=0"
      >
      </iframe>
    </div>

    <div class="col-md-4">
      <iframe
        height="250"
        src="https://www.youtube.com/embed/U8r3oTVMtQ0?rel=0"
      >
      </iframe>
    </div>

    <div class="col-md-4">
      <iframe
        height="250"
        src="https://www.youtube.com/embed/tUV3KaLjl10?rel=0"
      >
      </iframe>
    </div>
  </div>
</div>
