<!-- Header starts -->
<mat-toolbar class="bg-lightseagreen text-white fixed">
    <button class="btn text-white" [routerLink]="'/dashboard'">THE INDIAN COVID-19 ATLAS
    </button>
    <span class="example-spacer"></span>

    <button class="btn text-white" [routerLink]="'/aboutus'">
        <mat-icon>supervised_user_circle</mat-icon> About us
    </button>

</mat-toolbar>
<br class="mb-5">
<!-- Header ends -->

<div class="container text-justify">

    <img class="d-block w-100" src="/assets/images/videos1.jpg"><br>

    <div class="row">
        <div class="col-md-4">
            <iframe height="250" src="https://www.youtube.com/embed/DCdxsnRF1Fk?rel=0">
            </iframe>
        </div>

        <div class="col-md-4">
            <iframe height="250" src="https://www.youtube.com/embed/2SfxrezxVcM?rel=0">
            </iframe>
        </div>

        <div class="col-md-4">
            <iframe height="250" src="https://www.youtube.com/embed/DCdxsnRF1Fk?rel=0">
            </iframe>
        </div>
        
        <div class="col-md-4">
            <iframe height="250" src="https://www.youtube.com/embed/DCdxsnRF1Fk?rel=0">
            </iframe>
        </div>

        <div class="col-md-4">
            <iframe height="250" src="https://www.youtube.com/embed/DCdxsnRF1Fk?rel=0">
            </iframe>
        </div>
    </div>