<!-- Header starts -->
<mat-toolbar class="bg-lightseagreen text-white fixed">
    <button class="btn text-white" [routerLink]="'/dashboard'">THE INDIAN COVID-19 ATLAS
    </button>
    <span class="example-spacer"></span>

    <button class="btn text-white" [routerLink]="'/aboutus'">
        <mat-icon>supervised_user_circle</mat-icon> About us
    </button>
    
    <button class="btn text-white" [routerLink]="'/contactus'">
       Contact us
    </button>

</mat-toolbar>
<br class="mb-5">
<!-- Header ends -->

<div class="container text-justify">

    <img class="d-block w-100" src="/assets/images/links.png"> <br>
    <ul>
        <li class="h5">
            <a href="https://www.mygov.in/covid-19/" target="_blank">Goverment of India</a>
        </li>
        <li class="h5">
            <a href="https://transformingindia.mygov.in/covid-19/" target="_blank">Transforming India</a>
        </li>
        <li class="h5">
            <a href="https://covidindiatracker.com/" target="_blank">COVID-19 India Tracker</a>
        </li>
        <li class="h5">
            <a href="https://news.google.com/covid19/map?hl=en-IN&gl=IN&ceid=IN%3Aen" target="_blank">Google News about
                COVID-19</a>
        </li>
        <li class="h5">
            <a href="https://www.covidhelpnetwork.com/" target="_blank">Covid Help Network</a>
        </li>
        <li class="h5">
            <a href="https://covid19.who.int/?gclid=EAIaIQobChMIuOyb5ouM6wIVVqSWCh04aAaiEAAYASAAEgIoaPD_BwE"
                target="_blank">
                World Health Organization</a>
        </li>

        <li class="h5"> <a href="https://pib.gov.in/newsite/PrintRelease.aspx?relid=200658" target="_blank">
                PM calls for complete lockdown of entire nation for 21 days (PM addresses the nation on
                COVID-19)</a>

        </li>
        <li class="h5">
            <a href="https://pib.gov.in/newsite/chronavirus.aspx?docid=667" target="_blank">
                Press Information Bureau, Government of India on Novel Coronavirus</a>
        </li>
        <li class="h5">
            <a href="https://www.mohfw.gov.in/" target="_blank">Latest on Corona Virus</a>
        </li>
        <li class="h5">
            <a href="https://experience.arcgis.com/experience/685d0ace521648f8a5beeeee1b9125cd" target="_blank">
                Novel Coronavirus (COVID-19) Situation Dashboard</a>
        </li>
        <li class="h5">
            <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/myth-busters"
                target="_blank">
                Coronavirus disease (COVID-19) advice for the public: Mythbusters</a>
        </li>
        <li class="h5">
            <a href="https://www.who.int/news-room/q-a-detail/q-a-coronaviruses" target="_blank">
                Q&A on coronaviruses (COVID-19)</a>
        </li>
        <li class="h5">
            <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public"
                target="_blank">Coronavirus disease (COVID-19) advice for the public</a>
        </li>

    </ul>
</div>