<!-- Header starts -->
<mat-toolbar class="bg-info text-white fixed">
    <button class="btn text-white" [routerLink]="'/dashboard'">THE INDIAN COVID-19 ATLAS
    </button>
    <span class="example-spacer"></span>

    <button class="btn text-white" [routerLink]="'/aboutus'">
        <mat-icon>supervised_user_circle</mat-icon> About us
    </button>

</mat-toolbar>
<br class="mb-5">
<!-- Header ends -->

<div class="container-fluid">

    <img class="w-100" src="/assets/images/links.png">
    <ul>
        <ol>
            1) PM calls for complete lockdown of entire nation for 21 days (PM addresses the nation on
            COVID-19 )
            https://pib.gov.in/newsite/PrintRelease.aspx?relid=200658
        </ol>
        <ol>2) Press Information Bureau, Government of India on Novel Coronavirus
            https://pib.gov.in/newsite/chronavirus.aspx?docid=667</ol>
        <ol>3) Latest on Corona Virus
            https://www.mohfw.gov.in/</ol>
        <ol>4) Govt. Of Assam Lockdown Notification
            https://hfw.assam.gov.in/node/94439
            WHO</ol>
        <ol>1) Novel Coronavirus (COVID-19) Situation Dashboard
            https://experience.arcgis.com/experience/685d0ace521648f8a5beeeee1b9125cd</ol>
        <ol>2) Coronavirus disease (COVID-19) advice for the public: Mythbusters
            https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/myth-busters</ol>
        <ol>3) Q&A on coronaviruses (COVID-19)
            https://www.who.int/news-room/q-a-detail/q-a-coronaviruses</ol>
        <ol>4) Coronavirus disease (COVID-19) advice for the public
            https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public</ol>
    </ul>
</div>